<div class="row">
  <div class="col-xs-2">
    <button class="btn btn-primary" (click)="handleStartGame()">Start Game</button>
  </div>
  <div class="col-xs-2">
    <button class="btn btn-danger" (click)="handleStopGame()">Stop Game</button>
  </div>
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-3">
        <label for="gameStatus">Game is:</label>
        <span id="gameStatus">{{getStatus()}}</span>
      </div>
      <div class="col-xs-9">
        <label for="gameCounter">Counter:</label>
        <span id="gameCounter">{{counter}}</span>
      </div>
    </div>
  </div>
</div>
