<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bind it!</h3>
      <ol>
        <li>Create three new components: GameControl, Odd and Even</li>
        <li>The GameControl Component should have buttons to start and stop the game</li>
        <li>When starting the game, an event (holding a incrementing number) should get emitted each second (ref = setInterval())</li>
        <li>The event should be listenable from outside the component</li>
        <li>When stopping the game, no more events should get emitted (clearInterval(ref))</li>
        <li>A new Odd component should get created for every odd number emitted, the same should happen for the Even Component (on even numbers)</li>
        <li>Simply output Odd - NUMBER or Even - NUMBER in the two components</li>
        <li>Style the element (e.g. paragraph) holding your output text differently in both components</li>
      </ol>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Assignment:</h3>
      <app-game-control
        [gameStarted]="gameStarted"
        (gameStartedChange)="gameStartedChange($event)"
        (counterChange)="counterChange($event)"
      ></app-game-control>
      <div class="row">
        <div class="col-xs-6">
          <h4>Odds</h4>
          <app-odd *ngFor="let odd of odds" [counter]="odd"></app-odd>
        </div>
        <div class="col-xs-6">
          <h4>Evens</h4>
          <app-even *ngFor="let even of evens" [counter]="even"></app-even>
        </div>
      </div>
    </div>
  </div>
</div>
